@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply bg-gray-100;
  }
}

/* Header */
/* H1动画 */
.h_animation{
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50%{
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Header-right */
.right_animation{
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  50%{
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* FloorButton */
.show{
  opacity: 1;
  transition: transform .4s cubic-bezier(.3,.55,.1,1),opacity .1s;
  transform: translateX(0px);
}

.hide{
  opacity: 0;
  transform: translateX(30px);
}